@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.register-form {
    width: 420px;
    height: 450px;
    border: 1px solid #ddd; /* Subtle color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);  
}

.title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 70px;
    text-align: center;
    padding-bottom: 20px;
}

.register-input-box {
    display: flex;
    width: 100%;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

.register-input-box .icon {
    font-size: 16px;
    padding-right: 5px;
}

.register-input-box input {
    outline: none;
    border-radius: 40px;
    border-style: none;    
    border: 2px solid rgb(15, 15, 15);
    width:60%;
    font-size: 12px;
    padding: 10px 45px 10px 15px;
    color: black;
}

.register-input-box input::placeholder {
    color: black;
}

.register-button-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.register-button {
    background: white;
    width: 70%;
    height: 45px;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: white;
    font-weight: 600;
    left: 50%;
    background: linear-gradient(60deg, rgb(66, 225, 249), rgb(113, 89, 193));
    animation: GradientWave 3s ease infinite;
    transition: transform 0.1s ease;
    bottom: 1cm;
}

@keyframes GradientWave {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

.register-button:hover {
    transform: scale(1.01);
}

.register-button:active {
    transform: scale(0.99);
}

.back {
    background-color: white;
    color: black;
    padding: 3px 12px;
    font-size: 14.5px;
    border: none;
    border-radius: 15%;
    border: 1px solid #ddd;
    margin-top: 24px;
    margin-bottom: 1cm;
}

.back-button-wrapper {
    display: flex;
    justify-content: center;
}

.back:hover {
    transform: scale(1.1);
}

.back:active {
    transform: scale(0.99);
}